[defaults]
# On pointe vers notre nouvel inventaire dynamique
inventory = inventory.aws_ec2.yml
remote_user = awsuser
private_key_file = /mnt/c/Users/Dominique/.ssh/id_ed25519
host_key_checking = False
deprecation_warnings=False

[inventory]
# On active explicitement le plugin AWS
enable_plugins = aws_ec2